.videoCard {
  width: 270px;
  margin-bottom: 40px;
}
.videoCard__thumbnail {
  height: 140px;
  width: 250px;
}
.videoCard__info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.VideoCard__text {
  margin-left: 15px;
}

.VideoCard__text h4 {
  margin-bottom: 5px;
  font-size: 14px;
}

.videoCard__Avatar {
  height: 30px !important;
  width: 30px !important;
}

.VideoCard__text p {
  font-size: 14px;
  color: gray;
}
